.header {
    margin: 0 auto;
    padding-top: 45px;
    max-width: 880px;
    border-bottom: 1px solid #545454;
}
@media screen and (min-width:320px) and (max-width: 678px) {
    .header {
        max-width: 320px;
        padding-top: 28px;
    }
}