.profile__add {
    padding: 23px 73px;
    border-radius: 2px;
    background-color: #000;
    border: 2px solid #fff;
    cursor: pointer;
    background-image: url(../../../img/plus.svg);
    background-repeat: no-repeat;
    background-position: center;
   

    
}
.profile__add:hover{
     opacity: .6;
}
@media screen and (min-width:320px) and (max-width: 678px) {
    .profile__add {
        padding: 23px 139px;
        background-image: url(../../../img/plus320.svg);
    }
}

