.popup__close {
    position: absolute;
    right: -40px;
    top: -40px;
    background: none;
    cursor: pointer;
}
@media screen and (min-width:320px) and (max-width: 678px) {

    .popup__close {
        right: 0;
        top: -36px;
        max-width: 20px;
        max-height: 20px;
    }
}